<ul>
    {{#each burgers}}
    <li>
        <p><span class="label">ID:</span>{{this.id}}</p>
        <p><span class="label">Burger:</span>{{this.burger_name}}</p>

        <button data-id="{{this.id}}" class="devourburger">Devour it!</button>
    </li>
    {{/each}}
</ul>


<li>
    {{#each burger_name}}

    <button class="change-status" data-id="{{id}}" data-newstatus="{{devour}}">
        {{#if devour}} Devour it!{{/if}}
    </button>
    {{/each}}
</li>

<ul>
    {{#each burger-name}}
    {{#unless devour}}
    {{> burgers devour=true}}
    {{/unless}}
    {{/each}}
</ul>


<h2>Add a Burger</h2>
<form class="create-form">

    <label for="brgr">Burger:</label>
    <input type="text" id="brgr" name="name">

</form>
<button type="submit" id="submit">Order</button>